<div class="edition_2015_bg">
	2015 en images
</div>
<div class="container">
<h2>Photos</h2>
<p>Toutes les photos de l'événement sont disponibles <%= link_to "ici", "https://www.flickr.com/photos/franom/sets/72157650298612061/", :target => "_blank" %>.</p> 

<p>Si vous voulez repartager une photo, merci de respecter le copyright et de le garder sur la photo. Si vous avez un doute pour l'utilisation d'une photo, n'hésitez pas à nous demander.</p>

<h2>Vidéo</h2>

</div>