<div class="home_bg">
	<div class="homy">18 hours Social Dancing
	<br> WCS ONLY</div>

	

	<div class="col-md-4 col-md-offset-4 subscribe_btn"><%= link_to "Inscriptions", "#subscribe", class: "btn btn-lg btn-primary btn-block" %></div>
</div>





<div class="container">

	<h1>15 - 17 janvier 2016</h1>

<p>Brussels WCS vous convie à son premier événement 100% WCS à Bruxelles pour fêter son deuxième anniversaire : SWINGPLICITY BRUSSELS 
<br>Cet événement se déroulera entièrement à l'hôtel Métropole en plein cœur de Bruxelles. </p>

<h3>Au programme pour vous:</h3>

<ul>
	<li>3 soirées de danse sociale dans une salle de 350 m² jusqu’à 3h du matin; dimanche fin de la soirée à minuit (18h de danse sociale)
<li>Des workshops de niveaux différents dont les principaux seront animés par des profs de choc Joëlle (France) et Bret (USA) Navarre
<li>Hébergement possible dans le magnifique Hôtel Métropole (5*)
Situation en centre-ville, proximité de restaurants et commerce, la Grand Place de Bruxelles à deux pas !
<li>Une ambiance belge amicale et simple qui vous donnera envie de rester avec nous!
</ul>

<p class="lead">Vous pouvez à tous moments nous contacter par e-mail afin de d'obtenir plus d'informations. 
info@swingplicitybrussels.be</p>
<div id="subscribe">
	<h2>Inscrivez-vous à notre mailing list
		<br><small>Attention : tous les champs sont requis, sauf autre indication</small>
	</h2>

	<div class="panel panel-primary">
		<div class="panel-body">
			<%= render "mailchimp_form" %>
		</div>
	</div>
</div>

</div>




