<div class="home_bg">
	<div class="homy">
		<b>Swingplicity Brussels</b>
<br><small><span class="little">Un événement social au coeur de Bruxelles</span></small>
</div>

	

	<div class="col-md-4 col-md-offset-4 subscribe_btn"><%= link_to "Inscriptions", "#subscribe", class: "btn btn-lg btn-primary btn-block" %></div>
</div>





<div class="container">

	<h1>15 - 17 janvier 2016</h1>

<p>Brussels WCS vous convie à la seconde édition du <b>SWINGPLICITY BRUSSELS</b>. </p>
<p>Cet événement se déroulera entièrement à l'Hôtel Métropole en plein cœur de Bruxelles.
</p>

<h3>Au programme pour vous:</h3>

<ul>
<li>3 soirées de danse sociale dans une salle de 350 m² jusqu’à 3h du matin; dimanche fin de la soirée à minuit.
<li>Des workshops WCS de niveaux différents.
<li>Quelques ateliers pour s’ouvrir à d’autres danses et styles.
<li>Hébergement possible dans le magnifique Hôtel Métropole (5*). Situation en centre-ville, proximité de restaurants et commerce, la Grand Place de Bruxelles à deux pas !
<li>Une ambiance belge amicale et simple qui vous donnera envie de rester avec nous!

</ul>

<p class="lead">Vous pouvez à tous moments nous contacter par e-mail afin de d'obtenir plus d'informations. 
<%= link_to "info@swingplicitybrussels.be", "mailto:info@swingplicitybrussels.be" %></p>



</div>




