
<div class="hotel_bg">
		Logement
</div>

<div class="container">
<p>Swingplicity Brussels a négocié les prix pour les participants : 99 euros pour une chambre de deux personnes, avec connexion internet et 6 boissons dans la chambre (2 softs, 2 bières et 2 eaux). Le petit déjeuner n’est pas compris, mais plusieurs formules sont proposées par l’hôtel.</p>

<p>Si vous désirez réserver une chambre dans ce magnifique hôtel 5*, veuillez télécharger le document PDF suivant, le remplir en LETTRES MAJUSCULES et le renvoyer par courriel directement à <%= link_to 'resa@metropolehotel.be', 'mailto:resa@metropolehotel.be' %>.</p>

<%= link_to "Download pdf", "#", class: "btn btn-primary" %>

<p><strong>Attention un certain nombre de chambres est réservé pour les participants du Swingplicity Brussels jusqu’au 16/12/2014.</strong> Après cette date, nous ne pourrons plus vous garantir une chambre dans l’hôtel de l’événement.</p>

<p>P.S : Le formulaire est en anglais. Si vous avez le moindre souci de compréhension pour le remplir, n’hésitez pas à nous contacter.</p>
</div>