<div class="pass_bg">
	<h1>Tarifs et conditions</h1>
</div>



<div class="container">
	<h1>Prix</h1>


	<div role="tabpanel text-center">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">home</div>
    <div role="tabpanel" class="tab-pane" id="profile">profile</div>
    <div role="tabpanel" class="tab-pane" id="messages">message</div>
    <div role="tabpanel" class="tab-pane" id="settings">settings</div>
  </div>

</div>

Jusqu'au 31/07/2014	Jusqu'au 30/09/2014	Jusqu'au 31/12/2014	À partir du 1/01/2015
Initiation au WCS	-	-	-	15€
Pass Niveau 2	90€	95€	100€	105€
Pass Niveau 3	90€	95€	100€	105€
Full Pass (niv. 2+3)	120€	125€	135€	140€
Pass samedi	80€	85€	90€	95€
Pass dimanche	70€	75€	80€	85€
Pass Soirée	-	-	30€	35€
Soirée du vendredi	-	-	-	10€
Soirée du samedi	-	-	-	15€
Soirée du dimanche	-	-	-	10€
Initiation au WCS: 2h workshop avec Judith & Sven (pas de soirées incluses)
Pass Niveau 2: 4h workshop avec Joëlle & Bret + 3h workshop avec d'autres professeurs y compris les 3 soirées
Pass Niveau 3: 4h workshop avec Joëlle & Bret + 3h workshop avec d'autres professeurs y compris les 3 soirées
Full Pass (niv. 2+3): 8h workshop avec Joëlle & Bret + 3h workshop avec d'autres professeurs y compris les 3 soirées
Pass Samedi: 4h workshop avec Joëlle & Bret + 2h workshop avec d'autres professeurs y compris la soirée de samedi
Pass Dimanche: 4h workshop avec Joëlle & Bret + 1h workshop avec d'autres professeurs y compris la soirée de dimanche

<h1>Conditions</h1>

Après avoir rempli le formulaire sur la page d'inscription, merci d’effectuer le versement dans les 15 jours sur le compte suivant: 
IBAN: BE33 3770 3805 4046 
BIC: BBRUBEBB 
Communication: Swingplicity - Nom + Prénom + Pass choisi

En payant l’événement, vous acceptez la charte de l’événement.
</div>