<div class="pass_bg">
	<div class="homy">Tarifs et conditions</div>
</div>



<div class="container">
	<h1>Prix</h1>


	<div role="tabpanel">

  <!-- Nav tabs -->
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<ul class="nav nav-pills text-center" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Super Early Bird<br><small>until July 31st</small></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Early Bird<br><small>until October 31st</small></a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Lazy Bird<br><small>until 31st december</small></a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Later Bird<br><small>after 31st December</small></a></li>
  </ul>
</div>
</div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <%= render "super_early_bird" %>

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <%= render "early_bird" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">
      <%= render "lazy_bird" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
      <%= render "later_bird" %>
    </div>
  </div>

</div>


<h1>Conditions</h1>

Après avoir rempli le formulaire sur la page d'inscription, merci d’effectuer le versement dans les 15 jours sur le compte suivant: 
<span class="col-md-11 col-md-offset-1">
<p>IBAN: BE33 3770 3805 4046 
<br>BIC: BBRUBEBB
<br>Communication: Swingplicity - Nom + Prénom + Pass choisi
</p>
</span>

<p>En payant l’événement, vous acceptez la charte de l’événement.</p>
</div>