<div class="teachers_bg">
	<div class="homy">Les profs du Swingplicity</div>
</div>

<div class="container">
<br>
<br>
<div role="tabpanel">

  <!-- Nav tabs -->
  <div class="row text-center">
  <div class="col-md-8 col-md-offset-4">
  	<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Maxence & Virginie</h1></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Stanley & Coleen</a></li>
    
  </ul>
</div>
</div>

  <!-- Tab panes -->
  <div class="tab-content text-center">
    <div role="tabpanel" class="tab-pane active" id="home">

    	<h2 class="text-center">Maxence Martin et Virginie Grondin (France)</h2>
    	<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<p>Maxence Martin est l'un des organisateurs du WOTP mais il est surtout le premier danseur français ayant obtenu le titre de Champion en West Coast Swing.
				<p>Ancien Champion et ceinture noire de Judo, il débute sa carrière dans la danse avec le Lindy Hop. Très vite tombé sous le charme du WCS, il commence sa formation en 2007 aux côtés des plus Grands en Californie. Il s'affirmera en moins d'un an dans la catégorie des Champions américains.
				<p>Depuis, il parcourt les quatre coins du globe afin de faire partager ses connaissances et sa passion pour cette danse.
				<p>Un danseur exceptionnel, il est surtout connu pour sa pédagogie et comme étant un des pros les plus sociaux sur le dancefloor.
			</div>

	    	<div class="col-md-4 col-md-offset-2">
		    	<p>Virginie commence la danse à l’âge de 5ans. Issue du rock’n’roll et du boogie, elle évolue vers des danses à caractère individuel, tel que le jazz, le classique et la danse contemporaine. Elle se forme au Conservatoire National Supérieur et obtient l’examen d’aptitude technique. Elle découvre le West Coast Swing en 2007 et s’affirme très rapidement dans la communauté grâce à sa formation antérieure et son talent naturel pour cette discipline.
				<p>Virginie Grondin fait actuellement partie des meilleurs danseuse de West Coast Swing en Europe et évolue parmi les Champions américains.
	    	</div>
	    </div>
<div class="row">
		
    		<p>Maxence et Virginie s’associent en 2012 pour créer un partenariat du tonnerre. Depuis deux ans, ils sont dans le top 10 des finalistes à la plus grosse compétition internationale en catégorie Classic à l’US Open.</p>

	    	<div class="col-md-6">
	    		<p>Leur Classic à l’US Open 2014 :
					<br><div class="responsive-video">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VFGelelIrqM" frameborder="0" allowfullscreen></iframe>
				</div>
				</p>
	    	
			</div>
			<div class="col-md-6">
				<p>Une improvisation au Swingsation 2014 :
					<br><div class="responsive-video">
					
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VHuyI6i7Oww" frameborder="0" allowfullscreen></iframe>
				</div>
				</p>
			 
			</div>
		
		</div>
		
    </div>


    <div role="tabpanel" class="tab-pane" id="profile">

    	<h2 class="text-center">Stanley Seguy (France) et Coleen Man (Royaume-Uni)</h2>
		<br>
    	<div class="col-md-4 col-md-offset-1">
    		<p>Aussi loin qu’il peut s’en souvenir, Stanley a toujours aimé dansé et bougé sur les rythmes musicaux, sur ce soit seul ou en couple. Il a commencé la danse en couple avec la salsa et le rock.
			<p>Il a découvert le West Coast Swing en 2009 et est tombé amoureux de l’élégance et de la fluidité de cette danse. Il donne des cours réguliers sur Rouen (France). Stanley s’est formé auprès de Maxence Martin et a obtenu son certificat de l’Association des Instructeurs de Danse Professionels avec Robert Royston.
			<p>Stanley est un danseur reconnu et respecté, et a participé à quelques unes des plus grandes compétitions en Europe et aux Etats-Unis et a maintenant atteint le niveau final: All Star.
			<p>Avec son approche fun et sociale, Stanley est un professeur et un juge demandé, et veut aider les gens et partager sa passion pour la danse par le feeling et la simplicité. Son but est de transmettre ses connaissances dans la bonne humeur et aider les gens à s’améliorer.

    	</div>
    	<div class="col-md-4 col-md-offset-2">

    		<p>Coleen Man a découvert le West Coast Swing en 2010 et ne l’a plus quitté depuis. Elle est aujourd’hui l’une des meilleures danseuses britanniques, après avoir gravi rapidement les échelons de la compétition. Elle concourt désormais en division All Star. Elle a été formé avec le renommé Paul Warden, et a participé à des compétitions un peu partout dans le monde. Elle donne des cours réguliers au Royaume-Uni et commence à se faire connaître en Europe en tant que professeur et juge.
			<p>Son amour de la danse n’a pas commencé avec le West Coast Swing. Coleen a fait de la danse sa vie et dès son plus jeune âge s’est formée en danse classique, claquettes et Jazz. Elle est devenue un professeur reconnu par l’Académie Royale de Danse, l’organisation de danse classique la plus prestigieuse au monde, et dirige désormais sa propre école de danse au Royaume-Uni.
			<p>Le style de Coleen tire ses influences du Zouk, de la danse contemporaine, du Hip Hop et bien sûr de sa formation en danse classique, lui donnant un style unique et original.
		</div>
    </div>
   
  </div>

</div>


 


</div>