<div class="teachers_bg">
	<h1>Professeurs</h1>
</div>

<div class="container">



<h2>Joëlle et Bret Navarre</h2>

<p class="lead">The Frenchicans</p>

<p>Originaires des côtés opposés du globe (Etats-Unis/France), Bret et Joëlle Navarre se sont rencontrés grâce à la danse et ont rapidement réalisé qu’ils étaient faits l’un pour l’autre. 
Depuis, ils parcourent le monde pour enseigner, faire des compétitions, des performances, juger et développer le West Coast Swing. Ils ont un style qui leur appartient sur la piste de danse, venant d’une fusion du passé de Bret en Danse Classique, Jazz, Danse Contemporaine, Danses Latines et de Salon, ajouté au savoir-faire de Joëlle en Hip-Hop, Danse Orientale, Salsa, Mambo et Danses Afro-Caribéennes. </p>
<p>A eux deux, ils cumulent plus de 25 années d’expérience en danse et enseignement. Ils sont principalement reconnus pour leur pédagogie, basée sur l’idée de faire comprendre à leur élèves les techniques et mécanismes utilisés en West Coast Swing, tout en maintenant une atmosphère d’apprentissage amusante et accueillante.</p>

 
<h2>Camille et Nicolas</h2>

<p>Camille Fumanal (Lyon) et Nicolas Baguet (Nancy) animeront l'atelier du samedi soir sur le thème du "Steal dance". Camille et Nicolas sont des danseurs généreux et sociaux qui vous feront danser jusqu'au bout de la nuit!</p>

 
<h2>Ghislain Tshilomba</h2>

<p>Ghislain Tshilomba animera un cours de Jazz Rock (samedi) et un cours de Hip Hop (dimanche). 
<br>Il s'est formé en s'imprégnant de différents styles de danse: popping, locking, hip hop et jazz rock, dont il est l'un des spécialistes en Belgique. Danseur et chorégraphe professionnel depuis 1986, son cours est basé sur la joie, la technique et la passion.	</p>
<p>Les cours seront tous niveaux, pas besoin d’expérience préalable. Ces cours ont pour but de proposer quelque chose de différent pour élargir ses horizons de danse et ses influences, et ainsi pouvoir encore plus s’amuser et créer en West Coast Swing ! Alors n’hésitez pas, les cours sont inclus dans les différents pass de cours (à vérifier). </p>
<p>Les images valent plus que des mots !
	<br><div class="responsive-video">
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/IrDds0PZbDI" frameborder="0" allowfullscreen></iframe>
</div>
</p>

 
<h2>Judith et Sven</h2>

<p>L'intitiation au WCS sera animée par Judith Werkman et Sven Allegaert.</p>

</div>