<div class="workshops_bg">
		<div class="homy">Workshops</div>
</div>

<div class="container">

<h3>Planning</h3>
			<p>
				Veuillez trouver ci-dessous un planning provisoire du weekend. Attention, nous nous réservons le droit de faire toute modification nécessaire.
			</p>
			
<div class="row">
	<div class="col-md-4">
		<ul class="list-group">
			  <li class="list-group-item active">
			  
			    Vendredi <small>(20h30 - 3h)</small>
			  </li>
			  <li class="list-group-item">
			    
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			    <br>
			  </li>
			  
			  <li class="list-group-item list-group-item-info">
			    Accueil
			  </li>
			  <li class="list-group-item list-group-item-success">
			    Soirée
			  </li>
			</ul>
	</div>

	<div class="col-md-4">
		<ul class="list-group">
			  <li class="list-group-item active">
			   
			    Samedi <small>(9h - 3h)</small>
			  </li>
			  <li class="list-group-item list-group-item-info">
			    
			    Accueil
			  </li>
			  <li class="list-group-item">
			    <span class="label label-info">Niveau 2</span>
			    LA CONNEXION "FRENCHICAN"
			  </li>
			  
			  <li class="list-group-item list-group-item-info">
			    
			    Pause déjeuner
			  </li>
			  <li class="list-group-item">
			  	<span class="label label-info">Niveau 2</span>
			    <span class="label label-warning">Niveau 3</span>
			    STEAL DANCE
			  </li>
			  <li class="list-group-item">
			    <span class="label label-warning">Niveau 3</span>
			    TROUVER SON IDENTITE EN DANSE
			  </li>
			 
			  <li class="list-group-item list-group-item-warning">
			    
			    Initiation au WCS
			  </li>
			  <li class="list-group-item">
			    <span class="label label-info">Niveau 2</span>
			    <span class="label label-warning">Niveau 3</span>
			    Steal Dance
			  </li>
			  <li class="list-group-item list-group-item-success">
			    
			    Soirée
			  </li>
			</ul>
	</div>

	<div class="col-md-4">
		<ul class="list-group">
			  <li class="list-group-item active">
			    
			    Dimanche <small>(10h - minuit)</small>
			  </li>
			  <li class="list-group-item list-group-item-info">
			    
			    Accueil
			  </li>
			  
			  <li class="list-group-item">
			    <span class="label label-warning">Niveau 3</span>
			    La machine à remonter le temps du WCS
			    
			  </li>
			  <li class="list-group-item list-group-item-info">
			    Pause déjeuner
			  </li>
			  
			  <li class="list-group-item">
			    <span class="label label-info">Niveau 2</span>
			    MUSICALIFRAGILISTICEXPIALIDOCIOUS
			  </li>
			  
			  <li class="list-group-item">
			    <span class="label label-info">Niveau 2</span>
			    <span class="label label-warning">Niveau 3</span>
			    STEAL DANCE
			  </li>
			  <li class="list-group-item list-group-item-success">
			    <br>
			    <br>

			    Soirée
			    <br>
			    <br>
			    <br>
			  </li>
			  
			</ul>
	</div>
</div>
			

			<h3>Thèmes</h3>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>La connexion "Frenchican"

        </h3>
        <p>Apprenez les techniques utilisées pour acquérir une connexion constante à la fois dans le stretch et la compression, du début à la fin de votre danse.</p>
        <hr>
        <p><small>1. Stretch & Elasticité : Exercices sur les déplacements, énergies et placements corporels utilisés pour obtenir une connexion confortable et constante avec tous les danseurs que vous pouvez rencontrer en soirée dansante.
		<hr>
		2. Compression : Techniques pour contrôler votre cadre afin de créer une compression dans vos variations de bases, puis jouer avec ces compressions pour modifier votre danse et prendre des initiatives.</small></p>
        <div class="text-right">
        		<span class="label label-default">Samedi</span>
        		<span class="label label-info">Niveau 2</span>
        	</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Trouver son identité en danse</h3>
        <p>Explorez votre esprit et vos aptitudes corporelles pour créer votre propre personnalité en tant que danseur de West Coast Swing.</p>
        <hr>
        <p><small>1. Avoir conscience de son propre corps : Découvrez votre propre capacité corporelle avant de devoir suivre ou guider le corps de quelqu'un d'autre en travaillant sur vos isolations, rotations, votre équilibre, cadre et styling.
		<hr>
		2. Points de Connexion : Créez à l'intérieur de vos variations en jouant avec différents points de connexion et sans jamais interrompre le guidage ou la continuité de la danse.</small></p>
        <div class="text-right">
        		<span class="label label-default">Samedi</span>
        		<span class="label label-warning">Niveau 3</span>
        	</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Steal dance</h3>
        <p>"Steal dance" peut être traduit par "Vol de partenaire". Vous avez déjà vu des danseurs ou danseuses piquer le ou la partenaire d'un(e) autre pendant une danse et vous voulez apprendre à le faire? Ce sera l'objet de cet atelier où FUN sera le mot d'ordre!</p>
        
        <div class="text-right">
        		<span class="label label-default">Samedi</span>
        		<span class="label label-info">Niveau 2</span>
        		<span class="label label-warning">Niveau 3</span>
        	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>La machine à remonter le temps du WCS</h3>
        <p>Voyagez avec nous à travers l'évolution du WCS depuis le "Rhythm & Blues Old School", en passant par le "Swango" (mix Swing/Tango), le "Zouk Swing" et plus encore! Apprenez à incorporer votre entraînement de danseur dans votre WCS, sans jamais en détruire l'intégrité ou le "contenu Swing".</p>
        <hr>
        <p><small>1. Retour en Arrière : Apprenez des variations "Old School" provenant de différentes danses Swing (Lindy Hop, Jive ou encore Carolina Shag) et qui sont ancrées dans la culture West Coast Swing depuis toujours et n'ont jamais "périmé"! Intégrer l'époque "Swing & Blues" dans votre danse et apprenez vous amuser sur du Blues.
		<hr>
		2. Mixer Différentes Danses : Comment appliquer vos connaissances et des variations venus d'autres types de danses (Salsa, Zouk, Tango...) dans votre West Coast Swing sans jamais en dénaturer ses techniques et spécificités.</small></p>
        <div class="text-right">
        		<span class="label label-default">Dimanche</span>
        		<span class="label label-warning">Niveau 3</span>
        	</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>MUSICALIFRAGILISTICEXPIA-LIDOCIOUS</h3>
        <h3>La machine à remonter le temps du WCS</h3>
        <p>Astuces et exercices pour avoir une meilleure compréhension de la musicalité et être capable de jouer avec vos variations pour coller à tous types de musique.</p>
        <hr>
        <p><small>1. Théorie Musicale : Comprendre la structure musicale, comment l'appliquer, comment démarrer convenablement une danse, et découverte de notre technique des "Petites Boîtes" pour facilement décomposer musique et variations.
		<hr>
		2. Construisez votre danse autour de la musique : Ajouter ou retirer des "Petites Boîtes" pour modifier vos variations en fonction de la musique, et manipuler vos "boîtes de 2 temps" pour créer à l'intérieur de n'importe quelle variation.</small></p>
        <div class="text-right">
        		<span class="label label-default">Dimanche</span>
        		<span class="label label-info">Niveau 2</span>
        	</div>
      </div>
    </div>
  </div>


</div>



			
			
			
			
			
			<h3>Niveaux</h3>

			<div class="row">
				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
					    Niveau 2
					  </div>
					</div>
					<strong>Niveau 2</strong>
			<p>
				Vous connaissez les figures de bases du West Coast Swing et chercher à développer votre vocabulaire avec de nouveaux enchainements. Vous commencez à être à l’aise en danse sociale sur la plupart des rythmes.
				</br>
				Si vous avez suivi une année de cours régulier et que vous dansez en social de temps en temps, ce niveau est fait pour vous.
			</p>
				</div>

				<div class="col-md-6">
					<div class="progress">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
					    Niveau 3
					  </div>
					</div>
					<strong>Niveau 3</strong>
			<p>
				Vous êtes un accro du West Coast Swing. Vous en voulez toujours plus ! Vous avez déjà suivi quelques stages et vous écumez les soirées et allez danser dès que vous pouvez. Vous êtes à l’aise sur tous les rythmes. Vous cherchez à perfectionner votre technique pour avoir les outils qui vous feront progresser encore plus.
				</br>
				Pour ce niveau, il est recommandé d’avoir suivi deux années de cours réguliers et d’avoir déjà suivi quelques stages.
			</p>
				</div>
			</div>
			
			

</div>