<div class="workshops_bg">
		
</div>

<div class="container">

<h3>Planning</h3>
			<p>
				Veuillez trouver ci-dessous un planning provisoire du weekend. Attention, nous nous réservons le droit de faire toute modification nécessaire.
			</p>
			<p style="text-align: center;">
				<img style="margin-top: 5px;" src="/img/planning.png"/>
			</p>
			<h3>Thèmes</h3>
			<strong><u>SAMEDI</u></strong>
			<p>
				<strong><i>LA CONNEXION "FRENCHICAN" (Niveau 2)</i></strong>
				<br/>
				Apprenez les techniques utilisées pour acquérir une connexion constante à la fois dans le stretch et la compression, du début à la fin de votre danse.
				<br/>
				=> 1ère Heure - Stretch & Elasticité : Exercices sur les déplacements, énergies et placements corporels utilisés pour obtenir une connexion confortable et constante avec tous les danseurs que vous pouvez rencontrer en soirée dansante.
				<br/>
				=> 2ème Heure - Compression : Techniques pour contrôler votre cadre afin de créer une compression dans vos variations de bases, puis jouer avec ces compressions pour modifier votre danse et prendre des initiatives.
			</p>
			<p>
				<strong><i>TROUVER SON IDENTITE EN DANSE (Niveau 3)</i></strong>
				<br/>
				Explorez votre esprit et vos aptitudes corporelles pour créer votre propre personnalité en tant que danseur de West Coast Swing.
				<br/>
				=> 1ère Heure - Avoir conscience de son propre corps : Découvrez votre propre capacité corporelle avant de devoir suivre ou guider le corps de quelqu'un d'autre en travaillant sur vos isolations, rotations, votre équilibre, cadre et styling.
				<br/>
				=> 2ème Heure - Points de Connexion : Créez à l'intérieur de vos variations en jouant avec différents points de connexion et sans jamais interrompre le guidage ou la continuité de la danse.
			</p>
			<p>
				<strong><i>STEAL DANCE (Niveau 2+3)</i></strong>
				<br/>
				"Steal dance" peut être traduit par "Vol de partenaire". Vous avez déjà vu des danseurs ou danseuses piquer le ou la partenaire d'un(e) autre pendant une danse et vous voulez apprendre à le faire? Ce sera l'objet de cet atelier où FUN sera le mot d'ordre!
			</p>
			<strong><u>DIMANCHE</u></strong>
			<p>
				<strong><i>LA MACHINE A REMONTER LE TEMPS DU WCS (Niveau 3)</i></strong>
				<br/>
				Voyagez avec nous à travers l'évolution du WCS depuis le "Rhythm & Blues Old School", en passant par le "Swango" (mix Swing/Tango), le "Zouk Swing" et plus encore! Apprenez à incorporer votre entraînement de danseur dans votre WCS, sans jamais en détruire l'intégrité ou le "contenu Swing".
				<br/>
				=> 1ère Heure - Retour en Arrière : Apprenez des variations "Old School" provenant de différentes danses Swing (Lindy Hop, Jive ou encore Carolina Shag) et qui sont ancrées dans la culture West Coast Swing depuis toujours et n'ont jamais "périmé"! Intégrer l'époque "Swing & Blues" dans votre danse et apprenez vous amuser sur du Blues.
				<br/>
				=> 2ème Heure - Mixer Différentes Danses : Comment appliquer vos connaissances et des variations venus d'autres types de danses (Salsa, Zouk, Tango...) dans votre West Coast Swing sans jamais en dénaturer ses techniques et spécificités.
			</p>
			<p>
				<strong><i>MUSICALIFRAGILISTICEXPIALIDOCIOUS (Niveau 2)</i></strong>
				<br/>
				Astuces et exercices pour avoir une meilleure compréhension de la musicalité et être capable de jouer avec vos variations pour coller à tous types de musique.
				<br/>
				=> 1ère Heure - Théorie Musicale : Comprendre la structure musicale, comment l'appliquer, comment démarrer convenablement une danse, et découverte de notre technique des "Petites Boîtes" pour facilement décomposer musique et variations.
				<br/>
				=> 2ème Heure - Construisez votre danse autour de la musique : Ajouter ou retirer des "Petites Boîtes" pour modifier vos variations en fonction de la musique, et manipuler vos "boîtes de 2 temps" pour créer à l'intérieur de n'importe quelle variation
			</p>
			<h3>Niveaux</h3>
			<strong>Niveau 2</strong>
			<p>
				Vous connaissez les figures de bases du West Coast Swing et chercher à développer votre vocabulaire avec de nouveaux enchainements. Vous commencez à être à l’aise en danse sociale sur la plupart des rythmes.
				</br>
				Si vous avez suivi une année de cours régulier et que vous dansez en social de temps en temps, ce niveau est fait pour vous.
			</p>
			<strong>Niveau 3</strong>
			<p>
				Vous êtes un accro du West Coast Swing. Vous en voulez toujours plus ! Vous avez déjà suivi quelques stages et vous écumez les soirées et allez danser dès que vous pouvez. Vous êtes à l’aise sur tous les rythmes. Vous cherchez à perfectionner votre technique pour avoir les outils qui vous feront progresser encore plus.
				</br>
				Pour ce niveau, il est recommandé d’avoir suivi deux années de cours réguliers et d’avoir déjà suivi quelques stages.
			</p>

</div>