// $body-bg:                   #ecf0f1;
// $font-family-sans-serif:    'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:             60px;
$navbar-default-bg:         white;
$navbar-default-brand-color: #c0392b;
$brand-primary:             #5A23A3;
$brand-info:             #F39C12;
$brand-warning:             #16A085;
$brand-danger:              #34495E;
$navbar-inverse-link-color: #f9cee1;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// text responsive
@media screen and (max-width: 480px) {
  .homy {font-size: 0.5em;}
}

h1 {
  color: #a21354;
}

h2 {
  color: #a21354;
}

h3 {
  color: #a21354;
  padding-left: 15px;
}



// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}


// custom
/* mailchimp form */
.asteriks-custom {
  color: #c60;
  font-size: 200%;
  } 

.home_bg {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 6.3em; 
  text-shadow: 0 2px 4px #000000;
  background-image: image-url('_DSC0267-Panorama.jpg');
  min-height: 595px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.little {
  font-size: 0.7em;
}

.subscribe_btn {
  margin-top: 25px;
  .btn-lg {
    font-size: 0.3em;
  }
  
}

.edition_2015_bg {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 250px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000;
  background-image: image-url('_DSC1469.jpg');
  min-height: 510px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hotel_bg {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000; 
  background-image: image-url('_DSC0478.jpg');
  min-height: 430px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.teachers_bg {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000; 
  background-image: image-url('teacher_cover-1.jpeg');
  min-height: 500px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.workshops_bg {
  margin-top: -150px;
  margin-bottom: 0px;
  padding-top: 250px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000;
  background-image: image-url('_DSC0710.jpg');
  min-height: 590px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}



.pass_bg {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000; 
  background-image: image-url('_DSC0488.jpg');
  min-height: 430px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.footer-nav {
  border-top-color: #a21354;
  color: white;
  border-top-width: 3px;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    text-decoration: underline;
    color: white;
  }
}

.swingcolor {
  color: #5A23A3;
}

/* pricing table */

.pricing-table {
    max-width: 368px;
    margin: 0 auto;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.pricing-table:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.pricing-table:hover>.panel-footer-landing {
    box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
    -webkit-transition:  all .3s ease;
}

.pricing-table:hover>.panel>.panel-heading-landing-box {
    background: #f0f0f0 !important;
    color: #333 !important;
    -webkit-transition:  all .3s ease;
}

/* BEGIN to change #5CB85C for each pass */
.pricing-table:hover>.panel>.panel-body-landing {
    background: #5CB85C;
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.controle-header {
    background: #5CB85C !important;
    /*    border: solid 2px #5CB85C !important;*/
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-footer {
    background: #5CB85C !important;
    /*    border: solid 2px #5CB85C !important;*/
    -webkit-transition:  all .3s ease;
}
.btn-price:hover {
    background: #fff !important;
    color: #5CB85C !important;
    -webkit-transition:  all .3s ease;
}
/* END to change for each pass */

.pricing-table:hover>.panel>.panel-footer>.btn {
    border: solid 1px #fff !important;
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.controle-header>.panel-title-landing {
    color: #fff !important;
    -webkit-transition:  all .3s ease;
}
.pricing-table:hover>.panel>.panel-body-landing>.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    color: #fff !important;
    -webkit-transition:  all .3s ease;
}
.panel-heading-landing {
    background: #f7f7f7 !important; 
    padding: 20px !important; 
    border-top-left-radius: 10px !important;  
    border-top-right-radius: 10px !important; 
    border: solid 2px #5CB85C !important; 
    border-bottom: none !important;
}
.panel-h2-pass{
	font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.panel-heading-landing-level1 {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #FF5555 !important; 
  border-bottom: none !important;
}
.btn-level1{
	color: #fff;
    background-color: #FF5555;
    border-color: #FF5555;
}

.panel-heading-landing-level2 {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #F39C12 !important; 
  border-bottom: none !important;
}
.btn-level2{
	color: #fff;
    background-color: #F39C12;
    border-color: #F39C12;
}

.panel-heading-landing-level3 {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #16A085 !important; 
  border-bottom: none !important;
}
.btn-level3{
	color: #fff;
    background-color: #16A085;
    border-color: #16A085;
}

.panel-heading-landing-level4 {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #2C5AA0 !important; 
  border-bottom: none !important;
}
.btn-level4{
	color: #fff;
    background-color: #2C5AA0;
    border-color: #2C5AA0;
}

.panel-heading-landing-level5 {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #9B26AF !important; 
  border-bottom: none !important;
}
.btn-level5{
	color: #fff;
    background-color: #9B26AF;
    border-color: #9B26AF;
}

.panel-heading-landing-extra {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #5A23A3 !important; 
  border-bottom: none !important;
}
.btn-extra{
	color: #fff;
    background-color: #5A23A3;
    border-color: #5A23A3;
}

.panel-heading-landing-friday {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #5A23A3 !important; 
  border-bottom: none !important;
}

.panel-heading-landing-saturday {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #5A23A3 !important; 
  border-bottom: none !important;
}

.panel-heading-landing-sunday {
  background: #f7f7f7 !important; 
  padding: 20px !important; 
  border-top-left-radius: 10px !important;  
  border-top-right-radius: 10px !important; 
  border: solid 2px #5A23A3 !important; 
  border-bottom: none !important;
}

.panel-heading-landing-box {
    background: #5CB85C !important; 
    color: #fff !important; 
    font-size: 16px !important; 
    padding: 3px !important; 
    border: solid 2px #5CB85C !important; 
    border-top: none !important;
}
.panel-title-landing {
    color: #626367 !important;
    font-size: 23px;
    font-weight: bold;
}
.panel-body-landing {
    border: solid 2px #ccc !important; 
    border-top: none !important; 
    border-bottom: none !important;
}
.panel-footer-landing {
    border: solid 2px #ccc !important; 
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important; 
    border-top: none !important;
}
