// $body-bg:                   #ecf0f1;
// $font-family-sans-serif:    'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:             60px;
$navbar-default-bg:         white;
$navbar-default-brand-color: #c0392b;
$brand-primary:             #5A23A3;
$brand-info:             #a21354;
$navbar-inverse-link-color: #f9cee1;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// text responsive
@media screen and (max-width: 480px) {
  .homy {font-size: 0.5em;}
}

h1 {
  color: #a21354;
}

h2 {
  color: #a21354;
}

h3 {
  color: #a21354;
}



// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}


// custom

.home_bg {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 120px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 6.8em; 
  text-shadow: 0 2px 4px #000000;
  background-image: image-url('couple_turn.jpeg');
  min-height: 595px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe_btn {
  margin-top: 50px;
  .btn-lg {
    font-size: 0.3em;
  }
  
}

.edition_2015_bg {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000;
  background-image: image-url('team_back.jpeg');
  min-height: 430px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hotel_bg {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000; 
  background-image: image-url('hotel_image.jpeg');
  min-height: 430px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.teachers_bg {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000; 
  background-image: image-url('dancing_feet.jpeg');
  min-height: 430px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.workshops_bg {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000;
  background-image: image-url('dancing_room.jpeg');
  min-height: 430px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}



.pass_bg {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 150px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #f9cee1;
  font-size: 7em; 
  text-shadow: 0 2px 4px #000000; 
  background-image: image-url('silhouette.jpeg');
  min-height: 430px;
  background-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.footer-nav {
  border-top-color: #a21354;
  color: white;
  border-top-width: 3px;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
